
body {
  display : flex;
  flex-direction: column;
}
.logo {
  font-size: 30px; 
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.logo , a ,h1 , img{
  color : white;
}

.header-container {
  background-color: oklch(21% 0.034 264.665);
  display : flex;
  flex-direction:column;
  align-items:center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding : 8px;
  align-items:center;
  width:100%;
  max-width:1200px;
  
}

ul, a {
  display : flex;
  gap : 24px;
  list-style-type: none;
  text-decoration:none;
  font-family: Arial, Helvetica, sans-serif;
}

.header-content {
  display : flex;
  justify-content : flex-start;
  align-items: center;
  padding: 20px;
  width:100%;
  max-width:1200px;
}

.text-content {
  display : flex;
  flex-direction:column;
  gap:2px;
  max-width:25%;
}
h1,.text-content p{
  margin:1px;
  color: white;
}

.button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  width:fit-content;
  margin-top : 10px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  width: 400px;
  height: 200px;
  border: 2px solid #999;
  color: #666;
  margin-left: 20%;   
}




.title {
  display : flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin-bottom : 16px;
  padding: 16px;
}

.information-container {
  display : flex;
  align-items:center;
  justify-content:center;
  gap:16px;
  padding:16px;
}

.pictures {
  display: flex;
  gap: 24px;
  margin-bottom : 32px;
}

.item { 
  display: flex; 
  flex-direction: column;  
  align-items: center; 
  border-color: aquamarine;
  border-width: 2px;
  border-style: solid;
}

img {
  width: 100px;
  height: 100px;
}

.text {
  margin-top: 8px;
  text-align: center;
  flex-wrap: wrap;
}
